body { margin:0; }

.background {
  position:fixed; /**/
  width: 100%; height: 100%;
  margin: 0;
  padding: 0;

  background: lightcoral;

  animation: colorchange 15s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 15s; /* Chrome and Safari */
  animation-iteration-count: infinite;
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

.centerBox {
  position:absolute;

  left:50%; top:50%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%); 
  
  width: 50%;
}

.logo {
  height: 5em;
  background-image: url("../assets/the-gamification-project.svg");
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 1.2em;
}

#downloadLinkBlock {
  padding-top: 2.2em;
}

#downloadLink {
  background-color: white;
  border-radius: 0.5em;
  border: none;
  color: black;
  padding: 1em 1.5em;
  
  text-align: center;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;

  /* width: 15em; */
  cursor: pointer;
}

.mainContentBox {
  background: white;
  border-radius: 0.5em;
  /* height: 20em; */
}

.safeArea {
  padding: 1.5em;
}

#questionResultText {
  font-family: 'Calistoga', cursive;
  font-size: 1.2em;
  margin-bottom: 1.2em;
  line-height: 1.3em;
}

#results {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  font-size: 1em;
  margin-bottom: 1.2em;
  
  width: 100%;
  height: 15em;

  resize: none;

  outline: none;
  border: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#backButton {
  align-self: flex-start;
}

#nextButton {
  align-self: flex-end;
  margin-left: auto;
}

.buttons button {
  background-color: black;
  border-radius: 0.5em;
  border: none;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;

  cursor: pointer;
}

/* LARGER */
@media (max-width: 1400px) {
  .centerBox {
    width: 60%;
  }
}

/* MEDIUM */
@media (max-width: 1024px) {
  .centerBox {
    width: 70%;
  }
}

/* SMALL */
@media (max-width: 640px) {
  .centerBox {
    width: 90%;
  }
}










/* SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: lightgrey;
  background-image: none;

  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: lightgrey;
  overflow: hidden;
  border-radius: 0.5em;
  
  margin-bottom: 1.2em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: white;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "▾";
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: rgb(194, 194, 194);
  cursor: pointer;
  pointer-events: none;
}
/* SELECTOR */