html {
  background-color: black;

  cursor:url(../assets/cursor.svg) 12.02 12.02, auto;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}

::selection {
  background: black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: black; /* Gecko Browsers */
}


#bg {
  position: fixed;
  z-index: -1;
  top:0;

  height:100%;
  width: 100%;

  object-fit: cover;

  -webkit-perspective: 500;
      -moz-perspective: 500;
      -ms-perspective: 500;
        -o-perspective: 500;
          perspective: 500;

  -webkit-perspective-origin: center;
      -moz-perspective-origin: center;
      -ms-perspective-origin: center;
        -o-perspective-origin: center;
          perspective-origin: center;  
}

#bgImg {
  width: 100%;  
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#bgImg.animate {
  transition-duration: 500ms !important;
  transform: rotate(0) !important;
}

.container {
  display: flex;
  
  min-height: -webkit-fill-available !important;
  min-height: 100%;
  height: 100%;
}

.space {
  flex-basis: 10%;
}

.wordbox {
  flex-basis: 90%;
  


  display: flex;
  flex-direction: column;
  justify-content: space-around;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.links ul {
  list-style-types: none;
}

.links li {
  margin-bottom: 0.8em;
}

.links a {
  font-family: roboto-mono, monospace;
  font-weight: 700;
  font-style: normal;

  font-size: 1.5em;
  color: white;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  cursor:url(../assets/cursor.svg) 12.02 12.02, auto;
}

.links a:hover {
  color: lightgray;
}


/* TEXT */
#position {
  font-family: roboto-mono, monospace;
  font-weight: 700;
  font-style: normal;

  font-size: 1.5em;
  color: white;
}

#name {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-style: normal;

  font-size: 9em;
  color: white;
  margin: 0.1em 0em 0.1em 0em;

  -webkit-user-select: text !important; /* Safari */  
  -moz-user-select: text !important; /* Firefox */
  -ms-user-select: text !important; /* IE10+/Edge */
  user-select: text !important; /* Standard */
}

#regulartext {
  font-family: roboto-mono,monospace;
  font-weight: 400;
  font-style: normal;

  font-size: 1.5em;
  line-height: 1.5em;

  color: white;
}

@media (max-width: 320px) {
  .space {
    flex-basis: 10%;
  }
  .wordbox {
    flex-basis: 90%;
  }
  #position {
    font-size: 1em;
  }
  #name {
    font-size: 3.5em;
  }
  #regulartext {
    font-size: 1em;
    padding-right: 2em;
  }
  .links li a {
    font-size: 1em;
  }
}


@media (min-width: 1025px) and (max-width: 1366px) {
  .space {
    flex-basis: 10%;
  }
  .wordbox {
    flex-basis: 90%;
  }
  #position {
    font-size: 1.5em;
  }
  #name {
    font-size: 6em;
  }
  #regulartext {
    font-size: 1.5em;
    padding-right: 20em;
  }
  .links li a {
    font-size: 1.5em;
  }
}

@media (min-width: 835px) and (max-width: 1024px) {
  .space {
    flex-basis: 10%;
  }
  .wordbox {
    flex-basis: 90%;
  }
  #position {
    font-size: 1.5em;
  }
  #name {
    font-size: 8em;
  }
  #regulartext {
    font-size: 1.5em;
    padding-right: 15.5em;
  }
  .links li a {
    font-size: 1.5em;
  }
}


@media (min-width: 769px) and (max-width: 834px) {
  .space {
    flex-basis: 10%;
  }
  .wordbox {
    flex-basis: 90%;
  }
  #position {
    font-size: 1.5em;
  }
  #name {
    font-size: 8em;
  }
  #regulartext {
    font-size: 1.5em;
    padding-right: 8.5em;
  }
  .links li a {
    font-size: 1.5em;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .space {
    flex-basis: 10%;
  }
  .wordbox {
    flex-basis: 90%;
  }
  #position {
    font-size: 1.5em;
  }
  #name {
    font-size: 6.8em;
  }
  #regulartext {
    font-size: 1.5em;
    padding-right: 5.5em;
  }
  .links li a {
    font-size: 1.5em;
  }
}


@media (min-width: 376px) and (max-width: 414px) {
  .space {
    flex-basis: 10%;
  }
  .wordbox {
    flex-basis: 90%;
  }
  #position {
    font-size: 1.2em;
  }
  #name {
    font-size: 4.8em;
  }
  #regulartext {
    font-size: 1.2em;
    padding-right: 2.5em;
  }
  .links li a {
    font-size: 1.2em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .space {
    flex-basis: 10%;
  }
  .wordbox {
    flex-basis: 90%;
  }
  #position {
    font-size: 1.2em;
  }
  #name {
    font-size: 4em;
  }
  #regulartext {
    font-size: 1.2em;
    padding-right: 2em;
  }
  .links li a {
    font-size: 1.2em;
  }
}