html {
  background-color: white;

  cursor:url(../assets/cursor.svg) 12 12, auto;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@font-face {
  font-family: Authentic90;
  src: url(../assets/fonts/AUTHENTICSans-90.otf);
  font-weight: 90;
}

@font-face {
  font-family: Authentic130;
  src: url(../assets/fonts/AUTHENTICSans-130.otf);
  font-weight: 130;
}

@font-face {
  font-family: Authentic150;
  src: url(../assets/fonts/AUTHENTICSans-150.otf);
  font-weight: 150;
}

/*Mobile*/

.rlMargin {
  margin-right: 10%;
  margin-left: 10%;
}

.rlMarginLarge {
  margin-right: 15%;
  margin-left: 15%;
}

.topSectionSpacing {
  margin-top: 10vh;
}


h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  
  font-family: Authentic130;
}

h2 {
  font-size: 1.5rem;
  /* align-self: baseline; */
  font-family: Authentic150;
}

h3 {
  font-size: 1.2em;
  text-decoration: underline;
}

h4 {
  font-size: 1.2em;
  font-family: Authentic90;
}

p {
  font-size: 1em;
  font-family: Authentic90;
  line-height: 1.5em;
}

.keyInfoSection p {
  color: #9B9B9B;
}




/* introSection */
.introSection {
  /* position: relative; */
  color: black;

  height: 80vh;
  display: grid;

  grid-template-areas: 
  "name" 
  "headline"
  "downArrowIcon";

  grid-template-rows: 
  2fr /*name*/
  4fr /*headline*/
  2fr /*arrow*/;

  grid-template-columns: 
  1fr;
}

#mainName {
  align-self: start;
  
}

#headline {
  align-self: center;
  
}

#headlineLineBreak {
  display: none;
}

#downArrowIcon {
  /* align-self: center;   */
  align-self: end;
  justify-self: center;
}

#downArrowIcon > img {
  width: 2rem;
}

#renderView {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0%;
  top: 0%;
  z-index: -1;
}


/* processVideoSection */
.processVideoSection {
  display: grid;
 
  grid-template-rows: 
  1fr;

  grid-template-columns: 
  8fr;
}

#processVideo {
  
  border-radius: 3rem;

  width: 100%;
  
}

/* keyInfoSection */
.keyInfoSection {
  display: grid;

  /* grid-template-areas: 
  "interests tools socials info"; */

  grid-template-rows: 
  1fr 1fr;

  grid-template-columns: 1fr 1fr;


}

#interests {
  /* align-self: center; */
  justify-self: center;
}

#tools {
  /* align-self: center; */
  justify-self: center;
}

#socials {
  /* align-self: center; */
  justify-self: center;
}

#info {
  /* align-self: center; */
  justify-self: center;
}





@media (min-width: 480px) { /*Mobile-landscape (and larger)*/
  .keyInfoSection {
    grid-template-rows: 
    1fr;

    grid-template-columns: 
    1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) { /*Tablet-portrait (and larger))*/
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  
  h2 {
    font-size: 1.5rem;
    /* align-self: baseline; */
  }

  /* .introSection {
    grid-template-columns: 
    2fr 6fr 2fr;
  } */

  #downArrowIcon {
    justify-self: end;
  }
}

@media (min-width: 992px) { /*Tablet-landscape (and larger)*/
  #headlineLineBreak {
    display: inline;
  }
}

@media (min-width: 1200px) { /*Mobile-landscape (and larger)*/

}
