html {
  background-color: white;

  cursor:url(../assets/cursor.svg) 5 5, auto;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

@font-face {
  font-family: Authentic90;
  src: url(../assets/fonts/AUTHENTICSans-90.otf);
  font-weight: 90;
}

@font-face {
  font-family: Authentic130;
  src: url(../assets/fonts/AUTHENTICSans-130.otf);
  font-weight: 130;
}

@font-face {
  font-family: Authentic150;
  src: url(../assets/fonts/AUTHENTICSans-150.otf);
  font-weight: 150;
}



/* ------------------------ */
/* LAYOUT SIZE: all purpose */

/* - SECTION: non-specific */
.rlMarginSmall {
  margin-right: 5%;
  margin-left: 5%;
}
.rlMargin {
  margin-right: 10%;
  margin-left: 10%;
}
.rlMarginLarge {
  margin-right: 15%;
  margin-left: 15%;
}

:root {
  --contentColor: rgb(0, 0, 0);
  --backgroundColor: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {   
  :root {
    --contentColor: rgb(255, 255, 255);
    /* --backgroundColor: rgb(9, 15, 17); */
    --backgroundColor: rgb(0, 0, 0);
  }
}
html {
  color: var(--contentColor);
  background-color: var(--backgroundColor);
}
a {
  text-decoration: none;
  color: var(--contentColor);
}
svg {
  fill: var(--contentColor);
}

/* ------------------------ */
/* LAYOUT SIZE: mobile & base */


/* - SECTION: non-specific */
h1 {
  font-size: 1.6rem;
  line-height: 2rem;
  
  font-family: Authentic130;
}
h2 {
  font-size: 1.2rem;
  font-family: Authentic150;
}
h3 {
  font-size: 1.5rem;
  text-decoration: underline;

  text-underline-offset: 0.75rem;

  font-family: Authentic90;
}
h4 {
  font-size: 1.2rem;
  font-family: Authentic90;
}
h5 {
  font-size: 1.2rem;
  font-family: Authentic150;
}
h6 {
  font-size: 2rem;
  font-family: Authentic90;
}
p {
  font-size: 1em;
  font-family: Authentic90;
  line-height: 1.5em;
}

.topSectionSpacingLarge {
  margin-top: 20vh;
}

/* - SECTION: introSection */
.tbIntroSectionSpacing {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.introSection {
  height: 80vh;
  display: grid;

  grid-template-rows: 
  2fr
  4fr
  2fr;

  grid-template-columns: 
  1fr;

  /* cursor:url(../assets/cursor.svg) 5 5, auto; */
}

.mainName {
  align-self: start;
}
.headline {
  align-self: center;
}
#headlineLineBreak {
  display: none;
}
.downArrowIcon {
  align-self: end;
  justify-self: center;
  width: 2rem;  
}


#renderView {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0%;
  top: 0%;
  z-index: -1;
}

/* - SECTION: processVideoSection */
.processVideoSection {
  display: grid;
 
  grid-template-rows: 
  1fr;

  grid-template-columns: 
  8fr;
}
.processVideo {
  width: 100%;
  border-radius: 1.5rem;
}

/* - SECTION: keyInfoSection */
.keyInfoSection {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#tools, #info {
  justify-self: center;
}
.keyInfoSection a :hover {
  text-decoration: underline;
}
.keyInfoSection p {
  color: #9B9B9B;
}
.keyInfoSection h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* - SECTION: helper for featuredProjectSection & allProjectSection */
.projectSection {
  display: grid;

  grid-template-columns: 1fr;
}

.projectSection h3 {
  margin-bottom: 3rem;
  margin-right: 2rem;
  text-align: left;
  justify-self: left;
}
.projectSection h5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.projectSection img {
  width: 100%;
  border-radius: 1rem;
}    
.projectSection p:nth-of-type(2) {
  color: #9B9B9B;
  margin-top: 1.5rem;
}

/* - SECTION: featuredProjectSection */
.featuredProjectContent {

  display: grid;

  grid-template-columns: 1fr;
  gap: 4rem 4rem;
}

/* - SECTION: allProjectSection  */
.allProjectContent {

  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 1rem 1rem;
}

/* - SECTION: ctaSection */
.ctaSection {
  display: grid;
  grid-template-columns: 1fr;
  
  margin-bottom: 20vh;
}

.cta a {
  grid-column: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  margin-bottom: 3.5rem;
}

.ctaSection a :hover {
  text-decoration: underline;
}

.ctaSection svg {
  height: 2.2em;
  width: auto;
}


/* ------------------------ */
/* LAYOUT SIZE: full but compact */
@media (min-width: 768px) {

  /* - SECTION: non-specific */
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  /* - SECTION: introSection */
  #downArrowIcon { 
    justify-self: end;
  }

  /* - SECTION: keyInfoSection */
  .keyInfoSection {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  
  #interests, #tools, #socials, #info {
    justify-self: center;
  }

  /* - SECTION: featuredProjectSection */
  .featuredProjectContent {
    grid-template-columns: 1fr 1fr;
  }

  .featuredProjectContent :nth-child(3n + 1) {
    grid-column: 1 / span 2;
  }

  /* - SECTION: allProjectSection */
  .allProjectContent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ------------------------ */
/* LAYOUT SIZE: full and offset column */
@media (min-width: 992px) {

  /* - SECTION: non-specific */
  h6 {
    font-size: 2.5rem;
  }

  /* - SECTION: introSection */
  #headlineLineBreak {
    display: inline;
  }

  /* - SECTION: keyInfoSection */
  /* .keyInfoSection {
    grid-template-rows: 1fr;
  } */

  /* - SECTION: helper for featuredProjectSection & allProjectSection */
  .projectSection {
    grid-template-columns: 2fr 6fr;
  }

  /* - SECTION: ctaSection */
  .ctaSection {
    grid-template-columns: 2fr 6fr 2fr;
  }
  .cta {
    grid-column: 2;
  }
  .ctaSection img {
    height: 2.7rem;
  }

}

/* ------------------------ */
/* LAYOUT SIZE: full and centered column */
@media (min-width: 1400px) {
  /* - SECTION: non-specific */
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  h6 {
    font-size: 3rem;
  }

  /* - SECTION: key info section */
  .keyInfoSection {
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 1.5fr 2fr;
  }
  .keyInfoSection :nth-child(1) {
    grid-column: 2;
  }

  /* - SECTION: helper for featuredProjectSection & allProjectSection */
  .projectSection {
    grid-template-columns: 2fr 6fr 2fr;
  }
  .projectSection h3 {
    grid-column: 1;
  }
  .projectSection > div {
    grid-column: 2 / span 1;
  }


  /* - SECTION: ctaSection */
  .ctaSection img {
    height: 3.2rem;
    
  }
}


/* ------------------------ */
/* LAYOUT SIZE: extra largec */
@media (min-width: 1800px) {
  /* - SECTION: non-specific */
  h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}