/* @font-face {
  font-family: 'Polymorph';
  src: url('Polymorph.ttf') format("truetype-variations");
}
*/

@font-face {
  font-family: 'PublicSans';
  src: url('PublicSans.ttf');
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


p {
  color : #FAE903;
  /* -webkit-text-stroke-color: #965f00; */
  text-align: center;
  font-family: 'PublicSans';
  font-size: 10em;
  /* font-weight: 800; */
  /* text-align: center; */
  /* font-variation-settings: "WGHT" 700; */
}
