---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<BasePageLayout title="aswyer">
	<SectionLayout sectionID="hero">
		<p>Andrew Sawyer</p>
	</SectionLayout>

	<SectionLayout sectionID="video">
		<p>video</p>
	</SectionLayout>

	<SectionLayout sectionID="interests">
		<p>interests</p>
	</SectionLayout>

	<SectionLayout sectionID="featuredProjects">
		<p>featured projects</p>
	</SectionLayout>

	<SectionLayout sectionID="projectsGrid">
		<p>all projects</p>
	</SectionLayout>

	<SectionLayout sectionID="cta">
		<p>ctas</p>
	</SectionLayout>

</BasePageLayout>